@import "../../variables.scss";

nav {
    #float-btn {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        right: 40px;
        width: 60px;
        height: 60px;
        border: 2px solid $primary-green;
        color: $primary-green;
        border-radius: 100%;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all ease 0.2s;
        background-color: white;

        &:hover {
            background-color: $primary-green;
            color: white;
        }
    }
}
