@import "../../variables.scss";

.main {
    h2 {
        margin: 20px;
    }
}

.main-max-height {
    grid-row: 2 / -1;
}

.main-max-width {
    grid-column: 1 / -1;
}

.border-none {
    border: none;
}
