.main {
    h2 {
        margin: 20px;
    }

    .note {
        margin: 0;
        padding: 20px;
        display: flex;
        flex-direction: column;

        p {
            margin: 0;
        }

        p:nth-child(2) {
            font-size: 0.75rem;
            align-self: flex-end;
        }

        &:nth-child(even) {
            background-color: rgb(234, 234, 234);
        }
    }
}

.main-max-height {
    grid-row: 2 / -1;
}

.main-max-width {
    grid-column: 1 / -1;
}

.border-none {
    border: none;
}
