@import "../../variables.scss";
@import "../../index.scss";

.pages {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;

    .page {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        border: none;

        .page-content {
            width: 95%;
            padding: 10px;
            padding-left: 1.25rem;
            transition: all ease 0.2s;
            border-radius: 5px;
        }

        .active {
            background-color: gray;
            color: white;
        }

        button {
            padding: 0;
            position: absolute;
            right: 10px;
            font-size: 1.25rem;
            vertical-align: middle;
            line-height: 35px;
            text-align: center;
            width: 30px;
            height: 30px;
            border-radius: 5px;
            border: none;
            color: white;
            background-color: transparent;
            top: 50%;
            transform: translateY(-50%);
            transition: all ease 0.2s;

            &:hover {
                color: $danger;
            }
        }
    }

    #no-page {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 3%;
        font-size: 1.5rem;
        font-weight: bold;
        color: gray;
    }
}

.aside-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        padding: 5px 10px;
        border-radius: 10px;
        border: 2px solid $primary-green;
        color: $primary-green;
        transition: all ease 0.2s;
        background-color: white;
        font-weight: bold;

        &:hover {
            background-color: $primary-green;
            color: white;
        }
    }
}
