@import "../../variables.scss";

nav {
    #float-btn {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        right: 40px;
        width: 60px;
        height: 60px;
        border: 2px solid $primary-green;
        color: $primary-green;
        border-radius: 100%;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all ease 0.2s;
        background-color: white;

        &:hover {
            background-color: $primary-green;
            color: white;
        }
    }

    .notebook-tab {
        font-size: 1rem;
        transform: translateY(2px) translateX(20px);
        border: 2px solid lightgray;
        border-bottom: 2px solid white;
        // background-color: white;
        border-radius: 10px 10px 0px 0px;
        border: none;
        border-bottom: 2px solid lightgray;
        transition: all ease 0.05s;
        cursor: pointer;
        user-select: none;
        position: relative;

        .notebook-tab-item {
            padding: 5px 30px;
            z-index: 1;
        }

        button {
            width: 30px;
            height: 30px;
            text-align: center;
            pointer-events: fill;
            position: absolute;
            vertical-align: middle;
            line-height: 30px;
            top: -15px;
            right: -15px;
            border: 1px solid $danger;
            color: $danger;
            border-radius: 5px;
            background-color: white;            
            font-size: 16px;
            border-radius: 50%;
            transition: all ease .2s;

            &:hover {
                background-color: $danger;
                color: white;
            }
        }
    }

    .active {
        font-size: 1.2rem;
        transform: translateY(2px) translateX(20px);
        border: 2px solid lightgray;
        border-bottom: 2px solid white;
        background-color: white;
        border-radius: 10px 10px 0px 0px;
        user-select: none;
        pointer-events: none;
        .notebook-tab-item {
            padding: 5px 20px;
        }
    }
}
